* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

body,
input,
textarea,
button {
  font: 400 1rem "Nunito", sans-serif;
}

h1, h2, h3 {
  font: 700 1rem "Nunito", sans-serif;
  font-size: xx-large;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-image: linear-gradient(to right, #284154, #20323f);
}
