@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

body,
input,
textarea,
button {
  font: 400 1rem "Nunito", sans-serif;
}

h1,
h2,
h3 {
  font: 700 1rem "Nunito", sans-serif;
  font-size: xx-large;
  color: #303656;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  /* background-image: linear-gradient(to right, #a4dfb9, #c1e0e2, #cfdff8); */
  background-image: url("../public/gallaxy-2.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}
